USE [master]
GO
/****** Object:  Database [DADOS01]    Script Date: 08/23/2022 02:15:28 ******/
CREATE DATABASE [DADOS01] ON  PRIMARY 
( NAME = N'DADOS01', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\DADOS01.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DADOS01_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\DADOS01_log.LDF' , SIZE = 576KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DADOS01].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DADOS01]
GO
/****** Object:  Table [dbo].[PESSOAS]    Script Date: 08/23/2022 02:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PESSOAS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](120) NOT NULL,
	[CPF] [varchar](11) NULL,
	[RG] [varchar](12) NULL,
	[NOME_MAE] [varchar](120) NULL,
	[NOME_PAI] [varchar](120) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ENDERECO]    Script Date: 08/23/2022 02:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ENDERECO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PESSOA] [int] NOT NULL,
	[ENDERECO] [varchar](120) NULL,
	[CEP] [varchar](12) NULL,
	[NUM] [varchar](20) NULL,
	[CIDADE] [varchar](60) NULL,
	[ESTADO] [varchar](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  ForeignKey [ID_PESSOA_FK]    Script Date: 08/23/2022 02:15:29 ******/
ALTER TABLE [dbo].[ENDERECO]  WITH CHECK ADD  CONSTRAINT [ID_PESSOA_FK] FOREIGN KEY([ID_PESSOA])
REFERENCES [dbo].[PESSOAS] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ENDERECO] CHECK CONSTRAINT [ID_PESSOA_FK]
GO
